# 리스트, 튜플 만들기
## 리스트 만들기

In [1]:
# []를 사용하여 빈 리스트 만들기
l1 = []
l1

[]

In [2]:
# list()함수를 사용하여 빈 리스트 만들기
l2=list()
l2

[]

In [3]:
#[]를 사용하여 초기값이 있는 리스트 만들기
l3 = [1,3,5,7,9]
l3

[1, 3, 5, 7, 9]

In [ ]:
# list() 함수를 사용하여 초기값이 있는 리스트 만들기(규칙이 있는 정수값의 나열)
l4=list(range(1,100,2)) # 1부터 99까지 숫자중 +2식 증가하는 리스트 만들어줘
l4

## 튜플 만들기

In [5]:
# ()를 사용하여 빈 튜플 만들기
t1 = ()
t1

()

In [6]:
# tuple() 함수를 사용하여 빈 튜플 만들기
t2=tuple()
t2

()

In [7]:
# ()에 초기값 지정하여 튜플 만들기
t3=(1,3,5,7,9)
t3

(1, 3, 5, 7, 9)

In [9]:
# tuple() 함수를 사용하여 초기값이 있는 튜플 만들기(규칙이 있는 정수값의 나열)
t4 =tuple(range(1,100,2))
t4

(1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99)

In [10]:
# 튜플을 만들 때 괄호()를 생략할 수 있다.
t5 = 1,3,5,7,9
t5

(1, 3, 5, 7, 9)

In [11]:
# 항목이 1개일 때는 ,를 붙인다.
t6=(1,)
type(t6)

tuple

In [12]:
t7=1,
t7

(1,)

# 리스트, 튜플의 자료형
   - 모든 자료형이 혼합되어 들어갈 수 있다.

In [13]:
myinfo = ['amy',20,165,5,['독서','코딩']]
myinfo = ['amy',20,165.5, ['독서','코딩']]
myinfo

['amy', 20, 165.5, ['독서', '코딩']]

In [14]:
myinfo = ('amy',20,165.5, ['독서','코딩'])
myinfo

('amy', 20, 165.5, ['독서', '코딩'])

# 리스트, 튜플 연결

In [15]:
l1 = ['사과','딸기','포도']
l2 = ['포도','수박']
l1 + l2

['사과', '딸기', '포도', '포도', '수박']

In [16]:
t1 = ('빨','주')
t2 = ('노','초','파','남','보')
t1 + t2

('빨', '주', '노', '초', '파', '남', '보')

# 리스트, 튜플 반복하기

In [17]:
l = ['먹고','자고']
l * 3

['먹고', '자고', '먹고', '자고', '먹고', '자고']

In [18]:
t = ('놀고','먹고','자고')
t * 2

('놀고', '먹고', '자고', '놀고', '먹고', '자고')

# 리스트, 튜플에 값 존재여부 확인
  - 멤버 연산자 : in, not in

In [19]:
l = [1,2,3,4,5]
print(5 in l)
print(10 in l)

print(5 not in l)
print(10 not in l)

True
False
False
True

In [20]:
t = (1,2,3,4,5)
print(5 in t)
print(10 in t)

print(5 not in t)
print(10 not in t)

True
False
False
True

# 리스트, 튜플 항목의 갯수 구하기
   - len(리스트명)
   - len(튜플명)

In [21]:
l = [1,3,2,4,3,5,7,8,77.7,88.8,'a','b','c',[10,20,30]]
len(l)

14

In [22]:
t = ((1,2),[3,4])
len(t)

2